img
{
	max-width: 100%;
	margin-bottom: 1em;
}

p > img.left
{
	border: 2px solid red;
	float: left;
	margin: 1em;
	margin-left: 0;
}

p > img.right
{
	border: 2px solid red;
	float: right;
	margin: 1em;
	margin-right: 0;
}

figure
{
	text-align: center;
	font-style: italic;
}